@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--ui-color-primary-700);
  --ui-secondary: var(--ui-color-secondary-700);

  --ui-bg: var(--ui-color-neutral-50);
  --ui-text: var(--ui-color-neutral-900);
}

.dark {
  --ui-primary: var(--ui-color-primary-400);
  --ui-secondary: var(--ui-color-secondary-300);

  --ui-bg: var(--ui-color-neutral-950);
  --ui-text: var(--ui-color-neutral-100);
}